
<head>
	<title>Woozu Studio</title>
</head>

<body>
	<div class="topbar animated fadeInLeftBig"></div>


	<!-- Header Starts -->
	<div class="navbar-wrapper">
		<div class="container">
		</div>
		<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
			<div class="container">
				<div class="navbar-header">
					<!-- Logo Starts -->
					<a class="navbar-brand" href="#works"><%= image_tag "import/logo.png"%></a>
					<!-- #Logo Ends -->

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Nav Starts -->
				<div class="navbar-collapse  collapse">
					<ul class="nav navbar-nav navbar-right scroll">
						<li class="active"><a href="#works">Home</a></li>
						<li ><a href="#about">About</a></li>
						<li ><a href="#partners">Partners</a></li>
						<li ><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<!-- #Nav Ends -->

			</div>
		</div>
	</div>

	<!-- works -->
<div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar wowload fadeIn">
        <%= image_tag "import/portfolio/1.jpg" %>
        <figcaption>
            <h2>Nature</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a <%= image_tag href="images/portfolio/1.jpg"%> View more</a></p>            
        </figcaption>
    </figure>
</div>


</body>