
<body>
  <div class="topbar animated fadeInLeftBig"></div>



  <!-- works -->
  <div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar  wowload fadeIn">
      <img src="assets/portfolio/1.jpg" alt="img01"/>
      <figcaption>
        <h2>Nature</h2>
        <p>Lily likes to play with crayons and pencils<br>
          <a href="assets/portfolio/1.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
      </figure>
      <figure class="effect-oscar  wowload fadeInUp">
        <img src="assets/portfolio/2.jpg" alt="img01"/>
        <figcaption>
          <h2>Events</h2>
          <p>Lily likes to play with crayons and pencils<br>
            <a href="assets/portfolio/2.jpg" title="1" data-gallery>View more</a></p>            
          </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
          <img src="assets/portfolio/3.jpg" alt="img01"/>
          <figcaption>
            <h2>music</h2>
            <p>Lily likes to play with crayons and pencils<br>
              <a href="assets/portfolio/3.jpg" title="1" data-gallery>View more</a></p>            
            </figcaption>
          </figure>
          <figure class="effect-oscar  wowload fadeInUp">
            <img src="assets/portfolio/4.jpg" alt="img01"/>
            <figcaption>
              <h2>Vintage</h2>
              <p>Lily likes to play with crayons and pencils<br>
                <a href="assets/portfolio/4.jpg" title="1" data-gallery>View more</a></p>            
              </figcaption>
            </figure>
            <figure class="effect-oscar  wowload fadeInUp">
              <img src="assets/portfolio/5.jpg" alt="img01"/>
              <figcaption>
                <h2>Typers</h2>
                <p>Lily likes to play with crayons and pencils<br>
                  <a href="assets/portfolio/5.jpg" title="1" data-gallery>View more</a></p>            
                </figcaption>
              </figure>

              <figure class="effect-oscar  wowload fadeInUp">
                <img src="assets/portfolio/6.jpg" alt="img01"/>
                <figcaption>
                  <h2>hotel</h2>
                  <p>Lily likes to play with crayons and pencils<br>
                    <a href="assets/portfolio/6.jpg" title="1" data-gallery>View more</a></p>            
                  </figcaption>
                </figure>
                <figure class="effect-oscar  wowload fadeInUp">
                  <img src="assets/portfolio/7.jpg" alt="img01"/>
                  <figcaption>
                    <h2>Chinese</h2>
                    <p>Lily likes to play with crayons and pencils<br>
                      <a href="assets/portfolio/7.jpg" title="1" data-gallery>View more</a></p>            
                    </figcaption>
                  </figure>
                  <figure class="effect-oscar  wowload fadeInUp">
                    <img src="assets/portfolio/8.jpg" alt="img01"/>
                    <figcaption>
                      <h2>Dicrap</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                        <a href="assets/portfolio/8.jpg" title="1" data-gallery>View more</a></p>            
                      </figcaption>
                    </figure>
                    <figure class="effect-oscar  wowload fadeInUp">
                      <img src="assets/portfolio/9.jpg" alt="img01"/>
                      <figcaption>
                        <h2>Coffee</h2>
                        <p>Lily likes to play with crayons and pencils<br>
                          <a href="assets/portfolio/9.jpg" title="1" data-gallery>View more</a></p>            
                        </figcaption>
                      </figure>
                      <figure class="effect-oscar  wowload fadeInUp">
                        <img src="assets/portfolio/10.jpg" alt="img01"/>
                        <figcaption>
                          <h2>cameras</h2>
                          <p>Lily likes to play with crayons and pencils<br>
                            <a href="assets/portfolio/10.jpg" title="1" data-gallery>View more</a></p>            
                          </figcaption>
                        </figure>
                        <figure class="effect-oscar  wowload fadeInUp">
                          <img src="assets/portfolio/11.jpg" alt="img01"/>
                          <figcaption>
                            <h2>design</h2>
                            <p>Lily likes to play with crayons and pencils<br>
                              <a href="assets/portfolio/11.jpg" title="1" data-gallery>View more</a></p>            
                            </figcaption>
                          </figure>
                          <figure class="effect-oscar  wowload fadeInUp">
                            <img src="assets/portfolio/12.jpg" alt="img01"/>
                            <figcaption>
                              <h2>studio</h2>
                              <p>Lily likes to play with crayons and pencils<br>
                                <a href="assets/portfolio/12.jpg" title="1" data-gallery>View more</a></p>            
                              </figcaption>
                            </figure>
                          </div>
                          <!-- works -->






                    







                        </div>



                      </div>



















                      <!-- Footer Starts -->
                      <div class="footer text-center spacer">
                        <p class="wowload flipInX"><a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-instagram fa-2x"></i></a> <a href="#"><i class="fa fa-twitter fa-2x"></i></a> <a href="#"><i class="fa fa-flickr fa-2x"></i></a> </p>
                        Copyright 2016 Woozu Studio. All rights reserved.
                      </div>
                      <!-- # Footer Ends -->
                      <a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>





                      <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                      <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                        <!-- The container for the modal slides -->
                        <div class="slides"></div>
                        <!-- Controls for the borderless lightbox -->
                        <h3 class="title">Title</h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <!-- The modal dialog, which will be used to wrap the lightbox content -->    
                      </div>




                    </body>
