<!DOCTYPE html>
<html  lang="en-US">
  <head>
    <meta charset="utf-8">
    
    <title>Sample Page &raquo; Fullby</title>
    
    <meta name="description" content="" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    
    <link rel="icon" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/img/favicon.png" type="image/x-icon">
	
	
	
    <!-- Meta for IE support -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    
    <!-- Analytics -->
    
	<link rel="alternate" type="application/rss+xml" title="Fullby &raquo; Feed" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?feed=rss2" />
<link rel="alternate" type="application/rss+xml" title="Fullby &raquo; Comments Feed" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?feed=comments-rss2" />
<link rel="alternate" type="application/rss+xml" title="Fullby &raquo; Sample Page Comments Feed" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?feed=rss2&#038;page_id=9" />
<link rel='stylesheet' id='bootstrap-css'  href='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/css/bootstrap.min.css?ver=4.1.12' type='text/css' media='screen' />
<link rel='stylesheet' id='font-awesome-css'  href='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/font-awesome/css/font-awesome.min.css' type='text/css' media='screen' />
<link rel='stylesheet' id='screen-css'  href='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/style.css' type='text/css' media='screen' />
<link rel='stylesheet' id='magnific-popup-css'  href='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/css/magnific-popup.css?ver=4.1.12' type='text/css' media='screen' />
<link rel='stylesheet' id='slick-css'  href='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/css/slick.css?ver=4.1.12' type='text/css' media='screen' />
<link rel='stylesheet' id='lato-css'  href='http://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900&#038;ver=4.1.12' type='text/css' media='screen' />
<script type='text/javascript' src='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.1.12" />
<link rel='canonical' href='http://www.marchettidesign.net/fullby/demo-infinitescroll/?page_id=9' />
<link rel='shortlink' href='http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=9' />
    
        
    <style type="text/css">

        #mainmenu, 
        .navbar-fixed-top,
        #comments #submit {background-color: #44d86b; }
        
        .featured .date-feat,
        .item-featured-single .date-feat,
        .carousel-caption .date-feat,
        .featured-item {color: #ff1f5e}
        
        .widget-bar-button{background-color: #ff1f5e}
        
        .tag-post{color: #44d86b}
             
        a{color: #b096e0 }
        
        .navbar-fixed-top .navbar-nav > li > a:hover{background-color: #b096e0}

        a:focus, a:hover, 
        .grid-tit a:hover {color:#ff1f5e}  
        
        .navbar-fixed-top .navbar-nav > li > a, 
        .navbar-fixed-top .navbar-brand {color: #ffffff;}
        
        	        
	          .navbar small { color: #b3fdc6;}
	        
        
                
	        @media (min-width: 1000px) { 
	        	
	        	.navbar-fixed-top .navbar-brand,
				.navbar-fixed-top .navbar-nav li a {
				    line-height: 70px;
				    height: 70px;
				    padding-top: 0;
				}
				
				.navbar-header h1 {line-height: 60px}
				
				#cover:hover~.featured-bar, 
				.featured-bar:hover, 
				.link-featured-single:hover~.featured-bar{top:70px}
				
				body.admin-bar .featured-bar{top: 72px;}
	
				body.admin-bar #cover:hover~.featured-bar, 
				body.admin-bar .featured-bar:hover {top: 102px;}
				
				.spacer{height: 70px;}
				.featured{min-height: 70px}
				
			}

                
        
        
    </style>
    
    	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      
      <style> /* style for fix ie */ 
      
      	.item-featured-single {margin-top:50px}
      	
      </style>
      
    <![endif]--> 
	
</head>
<body class="page page-id-9 page-template-default">

    <div class="navbar navbar-inverse navbar-fixed-top">
     
		<div class="navbar-header">
		  
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
			
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				
			</button>
			
						           
				<h1><a class="navbar-brand" href="http://www.marchettidesign.net/fullby/demo-infinitescroll"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>&nbsp; <span>Fullby</span></a><small>Just another WordPress site</small> </h1>
					               
					  
		</div>
		
		<div id="mainmenu" class="collapse navbar-collapse">
		
			<ul id="menu-main" class="nav navbar-nav navbar-right"><li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9 current_page_item menu-item-10 active"><a title="Sample Page" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?page_id=9">Sample Page</a></li>
<li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11"><a title="Contact" href="http://www.marchettidesign.net/contatti">Contact</a></li>
</ul>			
		</div><!--/.nav-collapse -->
    
    </div>
    
    	
	
		<div class="row spacer"></div>		   
			
			
	
	<div class="navbar navbar-inverse navbar-sub">
     
		<div class="navbar-header navbar-header-sub">
		
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#submenu">
			
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				
			</button>
			
					
		</div>
		
		<div  id="submenu" class="collapse navbar-collapse">
			
			<ul id="menu-sub" class="nav navbar-nav"><li id="menu-item-34" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-34"><a title="Music" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=4">Music</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-35"><a title="News" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=5">News</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-36"><a title="Lifestyle" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=3">Lifestyle</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-37"><a title="Events" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=2">Events</a></li>
<li id="menu-item-38" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-38"><a title="What&#039;s New" href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=7">What&#8217;s New</a></li>
</ul>		
			<div class="col-sm-3 col-md-3 pull-right search-cont">
			    <form class="navbar-form" role="search" method="get" action="http://www.marchettidesign.net/fullby/demo-infinitescroll">
			        
			        <div class="input-group">
			            <input type="text" class="form-control" placeholder="Search" name="s" id="srch-term">
			            <div class="input-group-btn">
			                <button class="btn btn-default" type="submit"></button>
			            </div>
			        </div>
			    </form>
			</div>
					
		</div><!--/.nav-collapse -->

	</div>			
		
	<div class="col-md-9  col-md-push-3  single">
	
		<div class=" col-md-9  single-in">
		
			 

				                
                	<div class="row spacer-sing"></div>	
                
                 				
				<div class="sing-tit-cont">
					
					<h2 class="sing-tit">Sample Page</h2>
				
				</div>

				<div class="sing-cont">
					
					<div class="sing-spacer">
					
						<p>This is an example page. It&#8217;s different from a blog post because it will stay in one place and will show up in your site navigation (in most themes). Most people start with an About page that introduces them to potential site visitors. It might say something like this:</p>
<blockquote><p>Hi there! I&#8217;m a bike messenger by day, aspiring actor by night, and this is my blog. I live in Los Angeles, have a great dog named Jack, and I like pi&#241;a coladas. (And gettin&#8217; caught in the rain.)</p></blockquote>
<p>&#8230;or something like this:</p>
<blockquote><p>The XYZ Doohickey Company was founded in 1971, and has been providing quality doohickeys to the public ever since. Located in Gotham City, XYZ employs over 2,000 people and does all kinds of awesome things for the Gotham community.</p></blockquote>
<p>As a new WordPress user, you should go to <a href="http://www.marchettidesign.net/fullby/demo-touchslide/wp-admin/">your dashboard</a> to delete this page and create new pages for your content. Have fun!</p>

					</div>

				</div>	
				 					
				         
	        
		</div>	
		 
				 
		<div class="col-md-3">
		
			<div class="sec-sidebar">
			
				<div id="categories-5" class="widget widget_categories"><h3>Categories</h3>		<ul>
	<li class="cat-item cat-item-2"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=2" >Events</a>
</li>
	<li class="cat-item cat-item-3"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=3" >Lifestyle</a>
</li>
	<li class="cat-item cat-item-4"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=4" >Music</a>
</li>
	<li class="cat-item cat-item-5"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=5" >News</a>
</li>
	<li class="cat-item cat-item-6"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=6" >Uncategorised</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=1" >Uncategorized</a>
</li>
	<li class="cat-item cat-item-7"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=7" >What&#039;s New</a>
</li>
		</ul>
</div>	
										
		    </div>
		   
		 </div>
		 
		 
	</div>			

	<div class="col-md-3  col-md-pull-9  sidebar">

			<div class="social">
	
					
			<a target="_blank" rel="nofollow" href="https://www.facebook.com/?q=#/pages/MarchettiDesignnet/140329246021912"><i class="fa fa-facebook fa-2x"></i></a>
		
				
					
			<a target="_blank" rel="nofollow" href="https://twitter.com/AfMarchetti"><i class="fa fa-twitter fa-2x"></i></a>
		
				
					
			<a target="_blank" rel="nofollow" href="#"><i class="fa fa-google-plus fa-2x"></i></a>
		
				
					
			<a target="_blank" rel="nofollow" href="https://www.pinterest.com/afmarchetti/"><i class="fa fa-pinterest fa-2x"></i></a>
		
				
					
			<a target="_blank" rel="nofollow" href="#"><i class="fa fa-instagram fa-2x"></i></a>
		
				
					
			<a target="_blank" rel="nofollow" href="https://www.linkedin.com/profile/view?id=140348917"><i class="fa fa-linkedin fa-2x"></i></a>
		
				
					
			<a target="_blank" rel="nofollow" href="#"><i class="fa fa-youtube fa-2x"></i></a>
		
				
	</div>

	
			
		<div class="tab-spacer">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="myTab">
		
			<li class="active"><a href="#home" data-toggle="tab"> <i class="fa fa-bolt"></i> Popular</a></li>
			<li><a href="#profile" data-toggle="tab"> <i class="fa fa-clock-o"></i> Latest</a></li>
			
		</ul>
			
		<!-- Tab panes -->
		<div class="tab-content">
			
			<div class="tab-pane fade in active" id="home">
	
						
				<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=18">
				
				
											
						 <img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/uploads/2015/01/2351499262_1fbd1cf33e_b-150x150.jpg" class="thumbnail wp-post-image" alt="2351499262_1fbd1cf33e_b" />					
										                
	
		    		<h3 class="title">Video Post with Featured Image</h3>
		    		
		    		<div class="date"><i class="fa fa-clock-o"></i> 26 Jan , 2015 &nbsp;
		    		
		    		
								             			
		             		<i class="fa fa-video-camera"></i> Video
		             			
		             		             		
	
		    		</div>
	
		    	</a>
		
						
				<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=13">
				
				
											
						 <img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/uploads/2015/01/IMG_2502-150x150.jpg" class="thumbnail wp-post-image" alt="IMG_2502" />					
										                
	
		    		<h3 class="title">Post with Image and text</h3>
		    		
		    		<div class="date"><i class="fa fa-clock-o"></i> 26 Jan , 2015 &nbsp;
		    		
		    		
							             		
	
		    		</div>
	
		    	</a>
		
						
				<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=39">
				
				
											
						 <img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/uploads/2015/01/IMG_2560-150x150.jpg" class="thumbnail wp-post-image" alt="IMG_2560" />					
										                
	
		    		<h3 class="title">Post With More Tag</h3>
		    		
		    		<div class="date"><i class="fa fa-clock-o"></i> 26 Jan , 2015 &nbsp;
		    		
		    		
							             		
	
		    		</div>
	
		    	</a>
		
						
				<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=15">
				
				
											
						<img src="http://i.vimeocdn.com/video/489428908_100x75.jpg" class="grid-cop"/>
					
										                
	
		    		<h3 class="title">Vimeo Video Post</h3>
		    		
		    		<div class="date"><i class="fa fa-clock-o"></i> 26 Jan , 2015 &nbsp;
		    		
		    		
								             			
		             		<i class="fa fa-video-camera"></i> Video
		             			
		             		             		
	
		    		</div>
	
		    	</a>
		
							
			</div>
			
			<div class="tab-pane fade" id="profile">
			  	
		  				
					<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=1">
					
					
												             
		
			    		<h3 class="title">Hello world!</h3>
			    		
			    		<div class="date"><i class="fa fa-clock-o"></i> 12 Mar , 2015 &nbsp;
			    		
			    		
									             		
		
			    		</div>
			    		
			    	</a>
		
						
					<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=50">
					
					
												             
		
			    		<h3 class="title">Gallery Post</h3>
			    		
			    		<div class="date"><i class="fa fa-clock-o"></i> 28 Jan , 2015 &nbsp;
			    		
			    		
										             			
			             		<i class="fa fa-th"></i> Gallery
		
		             				             		
		
			    		</div>
			    		
			    	</a>
		
						
					<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=48">
					
					
													
							 <img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/uploads/2015/01/IMG_2601-150x150.jpg" class="thumbnail wp-post-image" alt="IMG_2601" />						
												             
		
			    		<h3 class="title">Gallery Post with shortcode after more tag</h3>
			    		
			    		<div class="date"><i class="fa fa-clock-o"></i> 28 Jan , 2015 &nbsp;
			    		
			    		
										             			
			             		<i class="fa fa-th"></i> Gallery
		
		             				             		
		
			    		</div>
			    		
			    	</a>
		
						
					<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=45">
					
					
													
							<img src="http://img.youtube.com/vi/Ma04Nady1nk/0.jpg" class="grid-cop"/>
						
												             
		
			    		<h3 class="title">Video Post</h3>
			    		
			    		<div class="date"><i class="fa fa-clock-o"></i> 28 Jan , 2015 &nbsp;
			    		
			    		
										             			
			             		<i class="fa fa-video-camera"></i> Video
			             			
			             			             		
		
			    		</div>
			    		
			    	</a>
		
							  	
			</div>
					 
		</div>
	
	</div>

	<div id="search-2" class="widget widget_search"><form role="search" method="get" id="searchform" class="searchform" action="http://www.marchettidesign.net/fullby/demo-infinitescroll/">
				<div>
					<label class="screen-reader-text" for="s">Search for:</label>
					<input type="text" value="" name="s" id="s" />
					<input type="submit" id="searchsubmit" value="Search" />
				</div>
			</form></div>		<div id="recent-posts-2" class="widget widget_recent_entries">		<h3>Recent Posts</h3>		<ul>
					<li>
				<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=1">Hello world!</a>
						</li>
					<li>
				<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=50">Gallery Post</a>
						</li>
					<li>
				<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=48">Gallery Post with shortcode after more tag</a>
						</li>
					<li>
				<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=45">Video Post</a>
						</li>
					<li>
				<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=43">Image Post</a>
						</li>
				</ul>
		</div><div id="recent-comments-2" class="widget widget_recent_comments"><h3>Recent Comments</h3><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link"><a href='https://wordpress.org/' rel='external nofollow' class='url'>Mr WordPress</a></span> on <a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=1#comment-1">Hello world!</a></li><li class="recentcomments"><span class="comment-author-link"><a href='https://wordpress.org/' rel='external nofollow' class='url'>Mr WordPress</a></span> on <a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=8#comment-2">Hello world!</a></li></ul></div><div id="archives-2" class="widget widget_archive"><h3>Archives</h3>		<ul>
	<li><a href='http://www.marchettidesign.net/fullby/demo-infinitescroll/?m=201503'>March 2015</a></li>
	<li><a href='http://www.marchettidesign.net/fullby/demo-infinitescroll/?m=201501'>January 2015</a></li>
		</ul>
</div><div id="categories-2" class="widget widget_categories"><h3>Categories</h3>		<ul>
	<li class="cat-item cat-item-2"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=2" >Events</a>
</li>
	<li class="cat-item cat-item-3"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=3" >Lifestyle</a>
</li>
	<li class="cat-item cat-item-4"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=4" >Music</a>
</li>
	<li class="cat-item cat-item-5"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=5" >News</a>
</li>
	<li class="cat-item cat-item-6"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=6" >Uncategorised</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=1" >Uncategorized</a>
</li>
	<li class="cat-item cat-item-7"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=7" >What&#039;s New</a>
</li>
		</ul>
</div><div id="meta-2" class="widget widget_meta"><h3>Meta</h3>			<ul>
						<li><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-login.php">Log in</a></li>
			<li><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?feed=rss2">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?feed=comments-rss2">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
<li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>			</ul>
</div>			
		    
	</div>
		

	<div class="col-md-12 footer">
	
		&copy; Copyright 2016  &nbsp;<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>&nbsp; <span> Fullby</span> <strong class="pull-right"><a href="#top"><i class="fa fa-angle-double-up"></i> TOP</a></strong>
		
	</div>
	
	
			
		<div class="col-md-12 footer-bar">
			
			<div class="col-md-3"><div id="calendar-3" class="widget widget_calendar"><div id="calendar_wrap"><table id="wp-calendar">
	<caption>August 2016</caption>
	<thead>
	<tr>
		<th scope="col" title="Monday">M</th>
		<th scope="col" title="Tuesday">T</th>
		<th scope="col" title="Wednesday">W</th>
		<th scope="col" title="Thursday">T</th>
		<th scope="col" title="Friday">F</th>
		<th scope="col" title="Saturday">S</th>
		<th scope="col" title="Sunday">S</th>
	</tr>
	</thead>

	<tfoot>
	<tr>
		<td colspan="3" id="prev"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?m=201503">&laquo; Mar</a></td>
		<td class="pad">&nbsp;</td>
		<td colspan="3" id="next" class="pad">&nbsp;</td>
	</tr>
	</tfoot>

	<tbody>
	<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td>
	</tr>
	<tr>
		<td>8</td><td>9</td><td>10</td><td id="today">11</td><td>12</td><td>13</td><td>14</td>
	</tr>
	<tr>
		<td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td>
	</tr>
	<tr>
		<td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
	</tr>
	<tr>
		<td>29</td><td>30</td><td>31</td>
		<td class="pad" colspan="4">&nbsp;</td>
	</tr>
	</tbody>
	</table></div></div></div><div class="col-md-3"><div id="categories-4" class="widget widget_categories"><p class="featured-item title-black">Categories</p>		<ul>
	<li class="cat-item cat-item-2"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=2" >Events</a>
</li>
	<li class="cat-item cat-item-3"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=3" >Lifestyle</a>
</li>
	<li class="cat-item cat-item-4"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=4" >Music</a>
</li>
	<li class="cat-item cat-item-5"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=5" >News</a>
</li>
	<li class="cat-item cat-item-6"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=6" >Uncategorised</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=1" >Uncategorized</a>
</li>
	<li class="cat-item cat-item-7"><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?cat=7" >What&#039;s New</a>
</li>
		</ul>
</div></div><div class="col-md-3"><div id="last3-3" class="widget widget_last3">
    			<p class="featured-item">Events</p>
    			
    							
									
					<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=48">
				
													
							 <img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/uploads/2015/01/IMG_2601-150x150.jpg" class="thumbnail wp-post-image" alt="IMG_2601" />						
												                
		
			    		<h3 class="title">Gallery Post with shortcode after more tag</h3>
			    		
			    		<div class="date"><i class="fa fa-clock-o"></i> 28 Jan , 2015 &nbsp;
			    		
			    		
										             			
			             		<i class="fa fa-th"></i> Gallery
		
		             				             		
		
			    		</div>
		
			    	</a>
					
									
					<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=43">
				
													
							 <img width="150" height="150" src="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/uploads/2015/01/2-150x150.jpg" class="thumbnail wp-post-image" alt="2" />						
												                
		
			    		<h3 class="title">Image Post</h3>
			    		
			    		<div class="date"><i class="fa fa-clock-o"></i> 28 Jan , 2015 &nbsp;
			    		
			    		
									             		
		
			    		</div>
		
			    	</a>
					
									
					<a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?p=26">
				
													
							<img src="http://img.youtube.com/vi/Hv_DRJZZ2qI/0.jpg" class="grid-cop"/>
						
												                
		
			    		<h3 class="title">Video Post without Text</h3>
			    		
			    		<div class="date"><i class="fa fa-clock-o"></i> 28 Jan , 2015 &nbsp;
			    		
			    		
										             			
			             		<i class="fa fa-video-camera"></i> Video
			             			
			             			             		
		
			    		</div>
		
			    	</a>
					
					

	</div></div><div class="col-md-3"><div id="meta-4" class="widget widget_meta"><p class="featured-item title-black">Meta</p>			<ul>
						<li><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-login.php">Log in</a></li>
			<li><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?feed=rss2">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://www.marchettidesign.net/fullby/demo-infinitescroll/?feed=comments-rss2">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
<li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>			</ul>
</div></div>			
		</div>
		
		

	<div class="col-md-12 footer">
		
		Powered by: <a href="http://www.marchettidesign.net">MarchettiDesign</a>		
	</div>
	

	<script type='text/javascript' src='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/js/bootstrap.min.js'></script>
<script type='text/javascript' src='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/js/jquery.sharrre.min.js'></script>
<script type='text/javascript' src='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/js/jquery.magnific-popup.min.js'></script>
<script type='text/javascript' src='http://www.marchettidesign.net/fullby/demo-infinitescroll/wp-content/themes/fullby-premium/js/fullby-script.js'></script>
	
    
  </body>
</html>

    	