@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


@import "home_style/bar_style";
@import "home_style/fullby-style";
@import "home_style/magnific-popup";
@import "home_style/slick";



@import "style";
@import "animate/animate";
@import "animate/set";
@import "gallery/blueimp-gallery.min";


.page_content{
	margin-left : 50px;
	margin-right : 50px;
}

.menutop-position{
	margin-top : 10px;
}

.menu-text{
	margin-top : 4px;
	font-size:15px;
}

.logo-style{
	margin-left : 50px;
	font-size:25px;
}

.container-top-left {
	margin-left : 50px;
}
.container-top-middle {
	margin-left : 50px;
}
.nav_back{
	background-color:black;
}
.posting_v{
	height : 100px;
}
.posting_h{
	margin-left : 400px;
	margin-right : 400px;
}
.floating_btn{
	position: fixed; 
	bottom:70px;  
	left: 500px;
}

.round-button {

    background: #4679BD; 
    
}
.round-button-circle {
	width: 70px;
	height: 70px;

    border-radius: 50%;
	border:5px solid #cfdcec;
    overflow:hidden;
    box-shadow: 0 0 3px gray;
    background:#4679BD;
    
}
.round-button-circle:hover {
	background:#30588e;
	color:#ff1f5e;
}
.round-button a {
    display:block;

	line-height:0px;
	margin-top:0.2em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.7em;
    font-weight:bold;
    text-decoration:none;
}
.post-main-col {
	width: 600px;
}